In [12]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_excel("datasets_140442_330428_Test_set.xlsx")

In [14]:
data.shape

(2671, 10)

In [15]:
data['journey_day']=pd.to_datetime(data['Date_of_Journey'],format='%d/%m/%Y').dt.day
data['journey_month']=pd.to_datetime(data['Date_of_Journey'],format='%d/%m/%Y').dt.month
data['journey_year']=pd.to_datetime(data['Date_of_Journey'],format='%d/%m/%Y').dt.year
data.drop('Date_of_Journey',axis=1,inplace=True)

In [16]:
data['dep_time_hr']=pd.to_datetime(data['Dep_Time'],format="%H:%M").dt.hour
data['dep_time_min']=pd.to_datetime(data['Dep_Time'],format="%H:%M").dt.minute
data.drop('Dep_Time',axis=1,inplace=True)

In [17]:
data["Arrival_hour"] = pd.to_datetime(data['Arrival_Time']).dt.hour
data["Arrival_min"] = pd.to_datetime(data['Arrival_Time']).dt.minute
data.drop("Arrival_Time",axis=1,inplace=True)

In [18]:
data.drop(['Route','Additional_Info'],axis=1,inplace=True)

In [19]:
h = data['Duration'].str.extract('(\d+)h', expand=False).astype(float) * 60
m = data['Duration'].str.extract('(\d+)m', expand=False).astype(float)
data['new'] = h.add(m, fill_value=0).astype(int).astype(str) + 'm'
data.drop('Duration',axis=1,inplace=True)

In [20]:
airline=pd.get_dummies(data['Airline'],drop_first=True)
source=pd.get_dummies(data['Source'],drop_first=True)
destination=pd.get_dummies(data['Destination'],drop_first=True)
# data.drop(['Airline','Source','Destination'],axis=1,inplace=True)
data=pd.concat([data,airline,source,destination],axis=1)
data.head(3)

,Airline,Source,Destination,Total_Stops,journey_day,journey_month,journey_year,dep_time_hr,dep_time_min,Arrival_hour,...,Vistara Premium economy,Chennai,Delhi,Kolkata,Mumbai,Cochin,Delhi,Hyderabad,Kolkata,New Delhi
0,Jet Airways,Delhi,Cochin,1 stop,6,6,2019,17,30,4,...,0,0,1,0,0,1,0,0,0,0
1,IndiGo,Kolkata,Banglore,1 stop,12,5,2019,6,20,10,...,0,0,0,1,0,0,0,0,0,0
2,Jet Airways,Delhi,Cochin,1 stop,21,5,2019,19,15,19,...,0,0,1,0,0,1,0,0,0,0

In [21]:
data.drop(['Airline','Source','Destination'],axis=1,inplace=True)

In [22]:
data.replace({'non-stop':0,'1 stop ':1,'2 stops':2,'3 stops':3,'4 stops ':4},inplace=True)

In [23]:
data.shape

(2671, 28)

In [24]:
data.columns

Index(['Total_Stops', 'journey_day', 'journey_month', 'journey_year',
       'dep_time_hr', 'dep_time_min', 'Arrival_hour', 'Arrival_min', 'new',
       'Air India', 'GoAir', 'IndiGo', 'Jet Airways', 'Jet Airways Business',
       'Multiple carriers', 'Multiple carriers Premium economy', 'SpiceJet',
       'Vistara', 'Vistara Premium economy', 'Chennai', 'Delhi', 'Kolkata',
       'Mumbai', 'Cochin', 'Delhi', 'Hyderabad', 'Kolkata', 'New Delhi'],
      dtype='object')

In [25]:
data['trujet']=0

In [26]:
data.head(3)

,Total_Stops,journey_day,journey_month,journey_year,dep_time_hr,dep_time_min,Arrival_hour,Arrival_min,new,Air India,...,Chennai,Delhi,Kolkata,Mumbai,Cochin,Delhi,Hyderabad,Kolkata,New Delhi,trujet
0,1 stop,6,6,2019,17,30,4,25,655m,0,...,0,1,0,0,1,0,0,0,0,0
1,1 stop,12,5,2019,6,20,10,20,240m,0,...,0,0,1,0,0,0,0,0,0,0
2,1 stop,21,5,2019,19,15,19,0,1425m,0,...,0,1,0,0,1,0,0,0,0,0

In [27]:
data.shape

(2671, 29)

In [28]:
data.to_csv("test_mine")